//Add option error
.add-option-error {
    color: $off-white;
    font-style: italic;
    margin: $m-size 0 0 0;
    padding: 0 $m-size;

}

//Add option
.add-option {
    display: flex;
    flex-direction: column;
    padding: $m-size;

}

.add-option__input {
    flex-grow: 1;
    border: none;
    color: $off-white;
    border-bottom: .3rem solid darken($dark-blue, 10%);
    background: $dark-blue;
    margin: 0 0 $s-size 0;
    padding: $s-size;
}

@media (min-width: $desktop-breakpoint) { //css feature for queries. apply these styles at a width of 45 and up
    .add-option{
        flex-direction: row;
    }

    .add-option__input {
        margin: 0 $s-size 0 0;
    }
}