//Big Button
.big-button {
    background: $purple;
    border: none;
    border-bottom: .6rem solid darken($purple, 10%); //arguents for darken is the color we want to darken and the % we want to darken by
    //for more stuff look at sass script functions
    color: white;
    font-weight: bold;
    font-size: $l-size;
    margin-bottom: $m-size;
    padding: 2.4rem;
    width: 100%;
}

@media (min-width: $desktop-breakpoint) { //css feature for queries. apply these styles at a width of 45 and up
    .big-button{
        margin-bottom: $xl-size;
    }
}

.big-button:disabled {
    opacity: .5 //makes it darker when it is unclickable
}

//Regular Button
.button {
    background: $purple;
    border: none;
    border-bottom: .3rem solid darken($purple, 10%);
    color: white;
    font-weight: 500;
    padding: $s-size;
}

// bem block element modifyer (modifiers use --)
.button--link { //link because it looks kinda like a link
    background: none;
    border: none;
    color: $off-white;
    padding: 0;
}


