.header {
    background: $off-black;
    color: white;
    margin-bottom: $xl-size;
    //1.6 above and below, 0 on the sides
    padding: $m-size 0;
    
}

//BEM Block element modifyer
.header__title {
    font-size: $l-size;
    margin: 0;
}

.header__subtitle {
    color: $off-white;
    font-size: $m-size;
    font-weight: 500;
    margin: 0;
}