//styling ReactModalPortal because when you inspect it thats what it is called

//styling of the fade in and out
.ReactModalPortal > div { // > div means only targets divs that are direct descendants (not children)
    opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay { // this is the convention when you inspect it
    display: flex;
    justify-content: center;
    align-items: center; //vertical alignment
    transition: opacity 200ms ease-in-out;
}

.ReactModalPortal .ReactModal__Overlay--after-open { // this is the name of the open when you inspect it
    opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close { // this is the name of the open when you inspect it
    opacity: 0;
}

//Actual styling of the modal
.modal {
    background: $light-blue;
    color: white;
    max-width: 30rem; //preventing it from expanding really far and instead makes it wrap
    outline: none;
    padding: $m-size;
    text-align: center;
}

.modal__title {
    margin: 0 0 $l-size 0;
}

.modal__body {
    font-size: 2rem;
    font-weight: 300;
    margin: 0 0 $l-size 0;
    word-break: break-all; // prevents a long word from running off the screen
}